
          
    <div class="mt-5 ml-10 ">
      
        <div class="md:grid md:grid-cols-5 md:gap-6">
          <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
              <p class="mt-1 text-sm text-gray-600">Use a permanent basic informations where you can receive updates.</p>
              <div class="card card-compact w-64 mt-5 py-5">
                <figure><img src="assets/images/new.svg" /></figure>
              </div>
            </div>
            
          </div>
          <div class="mt-5 md:col-span-4   shadow-sm rounded-md">
            <h1>Update Club details:</h1>
            <form (ngSubmit)="onSubmit()">
                <div class="overflow-hidden shadow sm:rounded-md">
                    <div class="bg-white px-4 py-5 sm:p-6  shadow-xl">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="form-group col-span-6 sm:col-span-3">
                            <label for="user-name" class="block text-sm font-lg text-gray-700">Club name</label>                     
                            <input type="text" name="username" [(ngModel)]="club.name"
                            placeholder="Enter user name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                        </div>
                        <div class="form-group col-span-6 sm:col-span-3">
                          <label for="first-name" class="block text-sm font-lg text-gray-700">Description</label>
                          <input type="email" name="email" [(ngModel)]="club.description"
                          placeholder="Enter user first" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>                    </div>
            
                      </div>
                    </div>
                       
                            </div>
                        
                           
            
                       
                     
            
                    
                      
                     
            
                
            
            
                 
            
                  
            
                 
            
            
            
             
            
                
            
                <button type="submit" class="btn btn-success">Update now</button>
              </form>
          </div>
        </div>
      </div>
    
    
     







    
     






